In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/train.csv", delimiter="|")

In [64]:
df

,fecha_compra,customer_id,product_id,type_id,business_id,channel_id,cantidad_venta,monto_venta_transf,peso_venta_transf,fecha_compra_date
0,2022-01-31,7157,510,BO,21,V,1.0,0.153431,0.005211,2022-01-31
1,2022-01-31,7157,512,BO,21,V,1.0,0.153431,0.005211,2022-01-31
2,2022-01-31,9382,510,BO,21,V,1.0,0.153431,0.005211,2022-01-31
3,2022-01-31,9382,512,BO,21,V,1.0,0.153431,0.005211,2022-01-31
4,2022-01-31,9382,525,BO,21,V,1.0,0.153431,0.005790,2022-01-31
...,...,...,...,...,...,...,...,...,...,...
2167843,2023-02-04,646,667,PA,31,B,55.0,2085.986380,796.101767,2023-02-04
2167844,2023-02-04,13758,667,PA,31,B,60.0,2339.780728,868.474655,2023-02-04
2167845,2023-02-04,3111,673,GA,31,B,64.0,2460.348170,926.372966,2023-02-04
2167846,2023-02-04,10520,679,PA,31,B,100.0,3531.912728,1447.457759,2023-02-04
2167847,2023-02-04,8071,41,GA,51,V,100.0,5191.116187,530.059031,2023-02-04

In [56]:
df['type_id'].unique()

array(['BO', 'GA', 'PA'], dtype=object)

In [57]:
df['business_id'].unique()

array([21, 51, 52, 22, 54, 31, 71, 61, 32, 70], dtype=int64)

In [58]:
df['channel_id'].unique()

array(['V', 'B', 'A'], dtype=object)

In [61]:
categories = []

for type in df['type_id'].unique():
    for bussines in df['business_id'].unique():
        for channel in df['channel_id'].unique():
            categories.append(f'{type}-{bussines}-{channel}')

In [63]:
len(categories)

90

In [66]:
filtro_columna1 = df['type_id'] == 'GA'
filtro_columna2 = df['business_id'] == 31
filtro_columna3 = df['channel_id'] == 'V'

resultado = df[(filtro_columna1) & (filtro_columna2) & (filtro_columna3)]

In [67]:
len(resultado['customer_id'].unique())

1492

In [69]:
len(resultado['product_id'].unique())

72

In [72]:
resultado[resultado['customer_id']==8660]

,fecha_compra,customer_id,product_id,type_id,business_id,channel_id,cantidad_venta,monto_venta_transf,peso_venta_transf,fecha_compra_date
2733,2022-01-31,8660,193,GA,31,V,1.0,6.892794,0.578983,2022-01-31
77858,2022-02-14,8660,205,GA,31,V,1.0,5.445336,0.578983,2022-02-14
78292,2022-02-14,8660,193,GA,31,V,1.0,6.892794,0.578983,2022-02-14
464430,2022-04-25,8660,193,GA,31,V,1.0,7.237289,0.578983,2022-04-25
541911,2022-05-09,8660,605,GA,31,V,2.0,3.329153,0.578983,2022-05-09
542984,2022-05-09,8660,205,GA,31,V,1.0,5.827465,0.578983,2022-05-09
876819,2022-07-04,8660,205,GA,31,V,1.0,6.119851,0.578983,2022-07-04
877155,2022-07-04,8660,193,GA,31,V,1.0,7.596258,0.578983,2022-07-04
914768,2022-07-11,8660,544,GA,31,V,1.0,2.072760,0.303966,2022-07-11
957396,2022-07-18,8660,605,GA,31,V,2.0,3.329153,0.578983,2022-07-18
1030570,2022-08-01,8660,205,GA,31,V,1.0,6.119851,0.578983,2022-08-01
1030993,2022-08-01,8660,193,GA,31,V,1.0,7.596258,0.578983,2022-08-01
1112569,2022-08-15,8660,605,GA,31,V,1.0,1.664576,0.289492,2022-08-15
1238572,2022-09-05,8660,205,GA,31,V,1.0,6.484611,0.578983,2022-09-05
1281307,2022-09-12,8660,605,GA,31,V,2.0,4.029722,0.578983,2022-09-12
1282657,2022-09-12,8660,193,GA,31,V,1.0,7.824957,0.578983,2022-09-12
1283468,2022-09-12,8660,205,GA,31,V,2.0,12.972116,1.157966,2022-09-12
1324284,2022-09-19,8660,605,GA,31,V,1.0,2.014861,0.289492,2022-09-19
1581905,2022-10-31,8660,605,GA,31,V,3.0,6.047479,0.868475,2022-10-31
1623949,2022-11-07,8660,205,GA,31,V,1.0,6.484611,0.578983,2022-11-07
1624456,2022-11-07,8660,193,GA,31,V,1.0,7.651262,0.578983,2022-11-07

In [41]:
len(df['customer_id'].unique())

15312

In [8]:
subm = pd.read_csv("data/submission_all.csv")

In [42]:
subm

       customer_id                                         product_id
0                1  120 987 203 116 77 890 194 88 915 926 1028 190...
1               10  987 120 203 456 414 404 452 194 119 190 890 40...
2              100  120 987 203 452 456 116 404 414 77 890 194 406...
3             1000  120 987 452 456 404 414 406 203 116 77 459 890...
4            10000  772 739 66 973 119 812 328 972 495 174 813 37 ...
...            ...                                                ...
15307         9995  120 987 203 452 456 890 77 116 404 915 414 102...
15308         9996  120 987 203 890 77 116 452 915 194 926 916 456...
15309         9997  456 404 452 414 120 406 987 459 426 405 453 42...
15310         9998  120 987 203 116 452 456 890 77 194 404 414 926...
15311         9999  739 772 66 973 812 495 328 972 813 37 174 801 ...

[15312 rows x 2 columns]

In [12]:
renta = pd.read_csv("data/RentabilidadProduct.csv", delimiter="|")

In [73]:
renta['negocio_id'].unique()

array([20, 21, 22], dtype=int64)

In [74]:
renta

,product_id,family_id,negocio_id,category_id,tier_id,utilidad_bruta_transf
0,881,1291,20,131,4,10.378017
1,805,1224,20,131,3,10.177925
2,892,1089,20,146,1,10.008243
3,841,1224,20,131,3,7.698362
4,830,1089,20,131,1,7.353678
...,...,...,...,...,...,...
932,786,1447,22,192,1,-0.184480
933,832,1447,22,192,3,-0.184480
934,848,1447,22,192,3,-0.184480
935,849,1447,22,192,2,-0.184480
936,933,1447,22,192,3,-0.184480

In [30]:
list_products = renta['product_id'].unique()

In [32]:
list_products[0]

881

In [33]:
df[df['product_id']== 881]

,fecha_compra,customer_id,product_id,type_id,business_id,channel_id,cantidad_venta,monto_venta_transf,peso_venta_transf
437642,2022-04-20,10445,881,BO,21,A,6.0,6.606197,0.833736
461340,2022-04-25,1401,881,BO,21,V,1.0,1.236129,0.138956
498135,2022-05-02,2976,881,BO,21,V,1.0,1.114542,0.138956
564947,2022-05-12,9195,881,BO,21,A,6.0,6.606197,0.833736
656056,2022-05-27,11041,881,BO,21,A,6.0,7.286502,0.833736
679170,2022-06-01,1510,881,BO,21,V,3.0,3.899451,0.416868
775197,2022-06-16,9414,881,BO,21,A,12.0,14.570110,1.667471
806476,2022-06-22,1995,881,BO,21,V,1.0,1.409824,0.138956
806477,2022-06-22,2797,881,BO,21,V,1.0,1.409824,0.138956
806478,2022-06-22,3357,881,BO,21,V,1.0,1.409824,0.138956
830811,2022-06-25,3295,881,BO,21,V,4.0,4.915567,0.555824
838679,2022-06-27,2003,881,BO,21,A,6.0,7.286502,0.833736
855853,2022-06-30,967,881,BO,21,V,1.0,1.409824,0.138956
1296532,2022-09-14,6813,881,BO,21,V,4.0,5.205058,0.555824
1297495,2022-09-14,2846,881,BO,21,V,6.0,7.720740,0.833736
1319570,2022-09-17,11429,881,BO,21,V,6.0,7.460197,0.833736
1326989,2022-09-19,14652,881,BO,21,V,6.0,7.460197,0.833736
1363599,2022-09-24,761,881,BO,21,V,6.0,7.460197,0.833736

In [35]:
df['fecha_compra_date'] = pd.to_datetime(df['fecha_compra'], yearfirst=True)

In [38]:
df['week'] = df['fecha_compra_date'].apply()

AttributeError: 'numpy.ndarray' object has no attribute 'week'

In [39]:
df['fecha_compra_date']

0         2022-01-31
1         2022-01-31
2         2022-01-31
3         2022-01-31
4         2022-01-31
             ...
2167843   2023-02-04
2167844   2023-02-04
2167845   2023-02-04
2167846   2023-02-04
2167847   2023-02-04
Name: fecha_compra_date, Length: 2167848, dtype: datetime64[ns]

In [ ]:
# Establecer la columna 'Fecha' como índice
df.set_index('Fecha', inplace=True)

# Agrupar por semana y calcular el promedio de los valores para cada semana
df_semanas = df.groupby(pd.Grouper(freq='W')).su